.App {
  text-align: center;
}

.App {
  float: left;
  display: flex;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}


.Ligth {
  background-color: antiquewhite;
  color: #171A21;
}

.Dark {
  background-color: #171A21;
  color: antiquewhite;

}