.container-div{
    display: flex;
    justify-content: left;
    margin-left: 130px;
    background-color: #171A21;
    margin-top: 30px;
    margin-bottom: -20px;
    
}

.selectCont {
    padding: 7px;
    margin: 10px;
    width: 300px;
    height: 30px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    background-color: #171A21;
    color: antiquewhite;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
    outline: none;
    border-radius: 2px;
  
}

option {
    margin: 20px;
    font-size: 13px;
}

optgroup {
    font-size: 14px;
    font-weight: bold;
    height: 20%;
    color: antiquewhite;
    margin: 90px;

}