body {
    background-color: var(--main-bg-color); 
}

.formC{
  margin-left: 40px;
  width: 60%;
}

.createH1 {
  font-family: "Monoton";
}
.caja1 {
    width: 48%;
    height: 480px;
    float: left;
    background-color: var(--main-bg-color) ;
    color: var(--main-color);
    box-shadow: 1px 2px 4px var(--main-border-color);
    margin-top: 50px;

    
}

.caja1:after {
  width: 48%;
  height: 480px;
  float: left;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  box-shadow: 0 15px 20px var(--main-border-color);

  
}

.caja2 {
    width: 48%;
    height: 480px;
    float: left;
    background-color: var(--main-bg-color);
    color:  var(--main-color);
    box-shadow: 1px 2px 4px var(--main-border-color);
    margin-top: 50px;
}

.caja2 ::after {
  width: 48%;
  height: 450px;
  float: left;
  background-color: var(--main-bg-color);
  color:  var(--main-color);
  box-shadow: 0 15px 20px var(--main-border-color);
}


img {
 height: 500px;
}

.conten {
    margin-top: 20px;
}

.conten2 {
    margin-top: 20px;
}

.divs {
    position: relative;
    height: 40px;
    width: 90%;
    margin: 30px;
    
    padding: 5px;

}

.lbl-nombre{
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 70%;
  height: 70%;
  pointer-events: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}


.input {
    top: 0px;
    left: 0px;
    height: 45%;
    width: 85%;
    background: none;
    color: var(--main-color);
    padding: 10px;
    border: none;
    outline: 0px;
    
    border: 1px solid  var(--main-color);
    
    
  }

  .text-nomb{
    position: absolute;
    left: 25px;
    height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

 


  .divs2 {
    height: 160px;
    width: 100%; 
    color: var(--main-color);
}


.opciones {
  float: left;
  font-size: 13px;
  margin: 2px;

}



.btn {
  display: flex; 
  justify-content: center;
  float: left;
  width: 60%;

}
.button {
  border: 0;
   background-image: linear-gradient(
    150deg,
     antiquewhite,
    #09f,
    #171A21
   );
   width: 97px;
   height: 50px;
   color: var(--main-color);
   display: flex;
   font-size: 18px;
   padding: 4px;
   cursor: pointer;
   transition: .3s;
}

.button span {
  background-color: var(--main-bg-color);
    padding: 10px 12px;
    transition: .3s;
    text-decoration: none;
    text-align: center;
    height: 50%;
    width: 80%;
    font-size: 15px;
}

.button :hover span {
 background: none;

}

.button :active {
  transform: scale(0.9);

}

h1 {
  color: var(--main-color);
  font-family:  sans-serif;
}

.imag2 {
  float: left;
  width: 250px;
  display: flex;
  justify-content: right;
  height: 500px;
}

.imag {
  float: right;
  width: 200px;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 500px;
}

.validate {
  font-size: 12px;
  display: flex;
  margin-left: 35px;
  color: red;
}

.validate2 {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: red;
  width: 100%;
}








