

.navBar {
    width: 20%;
    height: 700px;
    background-color: var(--main-bg-color);
   position:  sticky;
   transition: width 0.2s;
   top: 0;
   bottom: 0;
   left: 10pxpx;
    font-family: "Monoton";
    margin-top: 20px;
}

.navs {
    width: 80%;
    font-family: "Monoton";
    height: 25%;
   display: flex;
   justify-content: left;
   
}

.navsUl {
  list-style: none;
  width: 100%;
  text-align: left;
  height: 100%;
 
  margin-left: -15px;
}
  

.navsUl a {
  text-decoration: none;
  color: var(--main-color);
  display: flex;
 justify-content: left;
  margin-top: 10px;
  margin-left: 7px;
}


.navsUl li {
  transition: 0.4s;
}
.navsUl li :hover {
     margin-left: 6px;
}

.about {
 margin: 6px;

}

.videogames {
  margin: 6px;
}

.home {
 
  margin: 6px;
  
}
.create {
 
margin: 6px;
}


.activo {
  
  border-left: 3px solid  #09f;
}
.activo a {
  color: #09f;
}

.searchbar {
  width: 90%;
height: 8%;
}

.searchbar form {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  
}


.searchbar input {
  height: 70%;
  width: 65%;
  color: var(--main-color);
  background: none;
  padding-top: 1px;
border: none;
outline: 0px;
border-bottom: 1px solid var(--main-border-color) ;

}

.searchbar form button {
  height: 75%;
  width: 15%;
  border: none ;
  background: none;
  color: antiquewhite;
  border-bottom: 1px solid var(--main-border-color);
  
}

.searchbar ion-icon {
  font-size: 20px;
}
ion-icon {
  font-size: 22px;
  margin-right: 5px;
  color: antiquewhite;
  padding-top: 5px;
  
}

.habierto {
  display: flex;
  margin: 10px;
 
}

.abrir {
  width: 50%;
  display: flex;
  justify-content: left;
}
.abrir ion-icon {
  font-size: 27px;
  margin-left: 15px;
  cursor: pointer;

}

.cerrar  {
  width: 50%;
  display: flex;
  justify-content: right;

}

.cerrar ion-icon  {
  margin: 5px;
  color: red;
  cursor: pointer;
}
/* }






.searchbar {
    width: 40%;
  height: 90%;
  display: flex;
  justify-content: right
}

.searchbar form {
  height: 100%;
  width: 90%;
  padding: 12px;
  position: relative;
  overflow: hidden;
}
.searchbar input {
    height: 50%;
    width: 60%;
    color: antiquewhite;
    background: none;
    padding-top: 1px;
  border: none;
  outline: 0px;
  border-bottom: 1px solid #09f;
    
}
.searchbar form button {
  height: 56%;
  border-radius: 0px 4px 4px 0px;
  border: none ;
  background-color: #09f
  ;
  color: antiquewhite;
  
} */




/* .container{
  display:flex;
  position: sticky;
  padding-top: 20px;
  height: 100%;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
} */